<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@@title - Tailwind CSS Personal & Minimal Portfolio Template</title>
<meta name="description" content="Tailwind CSS Personal & Minimal Portfolio Template">
<meta name="keywords" content="AI, Copywriting, Tailwind, Responsive, Artificial Intelligence, Robot, Robot AI">
<meta name="author" content="Flowdev Teams">
<meta name="website" content="https://Flowdev Teams.in">
<meta name="email" content="support@Flowdev Teams.in">
<meta name="version" content="1.0">
<!-- favicon -->
<link href="assets/images/favicon.ico" rel="shortcut icon">